// Default
// ==============================
// $body-font-size: 18px !default;
// $body-line-height: 30px !default;


// Font Types
// ==============================
$font-family-1: 'Noto Sans', sans-serif !default;
// $font-family-2: 'Open Sans', sans-serif !default;

$font-icon: 'IcoMoon' !default;


// Colors
// ==============================
// Default
// $c1: #696969 !default;

$m1: #132743 !default;
$m2: #db1d4b !default;
$m3: #ff6187 !default;
$m4: #f9e3a2 !default;

// Shades
$s0: #000000 !default;
$s1: #1a1a1a !default;
$s2: #333333 !default;
$s3: #4d4d4d !default;
$s4: #666666 !default;
$s5: #808080 !default;
$s6: #999999 !default;
$s7: #b3b3b3 !default;
$s8: #cccccc !default;
$s9: #e6e6e6 !default;
$sf: #ffffff !default;


// Headings
// ==============================
// $h1-size: 40px !default;
// $h1-line-height: 50px !default;
$h1-margin: 40px !default;

// $h2-size: 24px !default;
// $h2-line-height: 34px !default;
$h2-margin: 20px !default;

// $h3-size: 20px !default;
// $h3-line-height: 30px !default;
$h3-margin: 20px !default;

// $h4-size: 18px !default;
// $h4-line-height: 28px !default;
$h4-margin: 20px !default;

// $h5-size: 18px !default;
// $h5-line-height: 30px !default;
$h5-margin: 20px !default;

// $h6-size: 14px !default;
// $h6-line-height: 18px !default;
$h6-margin: 20px !default;


// Icon Fonts
// ==============================
// $icon-menu: '\e900';
// $icon-close: '\e901';
// $icon-search: '\e902';
// $icon-download: '\e903';
// $icon-link: '\e904';
// $icon-play: '\e905';
// $icon-pause: '\e906';
// $icon-quote-left: '\e907';
// $icon-quote-right: '\e908';
// $icon-location: '\e909';
// $icon-clock: '\e90a';
// $icon-unlock: '\e90b';
// $icon-lock: '\e90c';
// $icon-angle-left: '\e90d';
// $icon-angle-right: '\e90e';
// $icon-angle-up: '\e90f';
// $icon-angle-down: '\e910';
// $icon-circle-empty: '\e911';
// $icon-circle-full: '\e912';
//
// // default library social icons
// $icon-facebook: '\f001';
// $icon-twitter: '\f002';
// $icon-youtube: '\f003';
// $icon-instagram: '\f004';
// $icon-linkedin: '\f005';
// $icon-google: '\f006';
// $icon-googleplus: '\f007';
// $icon-pinterest: '\f008';
// $icon-flickr: '\f009';
// $icon-tumblr: '\f00a';
// $icon-wordpress: '\f00b';
// $icon-vine: '\f00c';
// $icon-wechat: '\f00d';
// $icon-vimeo: '\f00e';
// $icon-rss: '\f00f';
