// Default
// ==============================
// $body-font-size: 18px;
// $body-line-height: 30px;


// Font Types
// ==============================
$font-family-1: 'Noto Sans', sans-serif;
// $font-family-2: 'Open Sans', sans-serif;

// $font-icon: 'icomoon';


// Colors
// ==============================
// Main
$m1: hsl(206, 100%, 40%);
$m2: hsl(345, 70%, 50%);
$m3: hsl(346, 70%, 65%);
$m4: hsl(45, 88%, 80%);

// Shades
$s0: hsl(0, 0%, 0%);
$s1: hsl(0, 0%, 10%);
$s2: hsl(0, 0%, 20%);
$s3: hsl(0, 0%, 30%);
$s4: hsl(0, 0%, 40%);
$s5: hsl(0, 0%, 50%);
$s6: hsl(0, 0%, 60%);
$s7: hsl(0, 0%, 70%);
$s8: hsl(0, 0%, 80%);
$s9: hsl(0, 0%, 90%);
$sf: hsl(0, 0%, 100%);


// Icon Fonts
// ==============================
// $icon-menu: '\e900';
// $icon-close: '\e901';
// $icon-search: '\e902';
// $icon-download: '\e903';
// $icon-link: '\e904';
// $icon-play: '\e905';
// $icon-pause: '\e906';
// $icon-quote-left: '\e907';
// $icon-quote-right: '\e908';
// $icon-location: '\e909';
// $icon-clock: '\e90a';
// $icon-unlock: '\e90b';
// $icon-lock: '\e90c';
// $icon-angle-left: '\e90d';
// $icon-angle-right: '\e90e';
// $icon-angle-up: '\e90f';
// $icon-angle-down: '\e910';
// $icon-circle-empty: '\e911';
// $icon-circle-full: '\e912';
