// Css order
// display: ; /* Where and how the box is placed */
// position: ;
// z-index: ;
// float: ;
// clear: ;
//
// visibility: ;/* Can the box be seen? */
// opacity: ;
//
// height: ; /* Content dimensions and scrollbars */
// width: ;
// overflow: ;
//
// margin: ; /* Layers of the box model */
// outline: ;
// border: ;
// padding: ;
// background-color: ;
//
// color: ; /* Text */
// font: ;
// text: ;

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
	pointer-events: none;
}

html {
	font-family: $font-family-1;

	@media (prefers-color-scheme: dark) {
		background-color: $s0;
		color: $s8;
	}
}

body {
	display: flex;
	position: relative;
	height: 100vh;
	margin: 0;
}

[class*="nav-level-"] {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure {
	margin: 0;
}

picture {
	display: flex;
}
