{% extends 'base.html' %}

{% block content %}
<div class="main-content">
	<h1>Finder Tool</h1>
	<h3>Search for elements across the entire page</h3>
	<h3>Non composer links will not work!</h3>
	<h3>Make sure the link works! (domain might have changed, missing https ...)</h3>

	<form action="{% url 'results' %}" method="post">
		{% csrf_token %}
		<label>
			<p>Add the link and make sure it ends with slash (/). Example: "https://ics.redesign.finalsite.com/"</p>
			<input type="text" name="search" required />
		</label>

		<label>
			<p>Class name: "fsNews". Click, double click or start typing for options</p>
			<input type="text" list="options" name="by_class" required />
		</label>

		<datalist id="options">
			<option>fsNews</option>
			<option>fsPostElement</option>
			<option>fsAccordion</option>
			<option>fsCalendar</option>
			<option>fsTabs</option>
		</datalist>

		<label>
			<input type="checkbox" name="search_content" />
			<span>Search main content</span>
		</label>

		<button type="submit" name="submit">Search</button>
	</form>
</div>

<div class="side-content">
	<ul class="nav-level-1">
		<li class="active">Some class examples:</li>
		<li>fsNews</li>
		<li>fsPostElement</li>
		<li>fsAccordion</li>
		<li>fsCalendar</li>
		<li>fsTabs</li>
	</ul>
</div>

<div class="loading-element"></div>
{% endblock %}
