{% extends 'base.html' %}

{% block content %}
<div class="main-content">
	<h1>Finder Tool</h1>
	<h3>Recheck for news</h3>
	<h3>Non composer links will not work!</h3>

	<form action="{% url 'results_recheck' %}" method="post">
		{% csrf_token %}
		<label>Add at the end of a link fs/pages/sitemap.xml -> "https://ics.redesign.finalsite.com/fs/pages/sitemap.xml"</label>
		<input type="text" name="search" v-model="searchInput" />
		<label>Class name: "fsNews". Click, double click or start typing for options</label>
		<input type="text" list="options" name="by_class" v-model="classInput" />
		<label>Second Class name: "fsPostElement". Click, double click or start typing for options</label>
		<input type="text" list="options" name="by_class2" v-model="classInput2" />

		<datalist id="options">
			<option>fsNews</option>
			<option>fsPostElement</option>
			<option>fsAccordion</option>
			<option>fsCalendar</option>
			<option>fsTabs</option>
		</datalist>
		
		<button type="submit" name="submit" class="btn btn-primary" v-bind:disabled="searchInput.length < 1 || classInput.length < 1 || classInput2.length < 1">Search</button>
	</form>
</div>

<div class="side-content">
	<ul class="nav-level-1">
		<li class="active">Some class examples:</li>
		<li>fsNews</li>
		<li>fsPostElement</li>
		<li>fsAccordion</li>
		<li>fsCalendar</li>
		<li>fsTabs</li>
	</ul>
</div>

<div class="loading-element"></div>
{% endblock %}
