{% extends 'base.html' %}

{% block content %}
<div class="main-content">
	<h1>SchoolPointe Scraper</h1>
	<h3>Please don't close the tab or browser while it is running.</h3>
	<h3>It can take multiple hours to run depending on the amount of content (eg: 2000 pages ~ 1 hour)</h3>
	<h3>Also sites from different clients might be on the same server. Too many requests will result in scape failure (at best) or even ip ban (at worst)</h3>
	<h3>Reach out if you encounter issues: sebi.savu@geledia.ro</h3>

	<form action="{% url 'results_schoolpointe' %}" method="post">
		{% csrf_token %}
		<label>
			<p>Links separated by comma(,). No slash at the end. First link has www</p>
			<textarea name="site" rows="3" cols="80" placeholder="https://www.ecschools.net,https://www.ecschools.net/2/home..." autofocus required></textarea>
		</label>

		<label>
			<p>Add extra end for schools - School high school -> shs</p>
			<textarea name="school_title" rows="3" cols="80" placeholder="district,shs,sms,ses..." required>district,</textarea>
		</label>

		<label>
			<p>Unique id or class for mobile navigation (since it has all links)</p>
			<input type="text" list="main-nav" name="main_nav" placeholder="Empty" />
		</label>

		<label>
			<p>Unique id or class for footer navigation</p>
			<input type="text" list="footer-nav" name="footer_nav" placeholder="Empty" />
		</label>

		<label>
			<p>Unique id or class for main content</p>
			<input type="text" list="main-content" name="main_content" placeholder="class_=body-content-container" required />
		</label>

		<!-- <label>
			<p>Unique id or class for page navigation(tier 2, tier 3, tier 4). If this is the same as the level 2 from main nav leave empty</p>
			<input type="text" list="page-nav" name="page_nav" placeholder="Empty" />
		</label> -->

		<label>
			<p>Unique id or class for calendar</p>
			<input type="text" list="calendar" name="calendar" value="id=calendar" placeholder="Empty" />
		</label>

		<label>
			<p>Unique id or class for staff-directory</p>
			<input type="text" list="staff-dir" name="staff_dir" value="class_=staff-directory" placeholder="Empty" />
		</label>

		<label>
			<p>Unique id or class for news item</p>
			<input type="text" list="news" name="news" value="id=news-list" placeholder="Empty" />
		</label>

		<!-- <label>
			<p>Additional links that need to be scraped for content. Links separated by comma(,). No slash at the end</p>
			<textarea name="extra" rows="6" cols="80" placeholder="Empty"></textarea>
		</label> -->

		<datalist id="main-nav">
			<option>id=bs-example-navbar-collapse-1</option>
			<option>id=bs-example-navbar-collapse-2</option>
			<option>id=MobileNav</option>
			<option>id=mobileNav</option>
			<option>id=mobileNavs</option>
			<option>id=mobileMenu</option>
			<option>id=main-navbar</option>
		</datalist>

		<datalist id="footer-nav">
			<option>class_=footer-nav</option>
		</datalist>

		<!-- <datalist id="list-items">
			<option>without-image</option>
			<option>ul > li</option>
		</datalist> -->

		<!-- <datalist id="school-title">
			<option>id=ctl00_ctl00_header_header_ctl00_SchoolName</option>
		</datalist> -->

		<datalist id="main-content">
			<option>id=site-body</option>
			<option>class_=masterC alignment-stretch</option>
			<option>class_=row masterC</option>
			<option>class_=container masterC</option>
		</datalist>

		<!-- <datalist id="page-nav">
			<option>id=quicklinks</option>
		</datalist> -->

		<datalist id="calendar">
			<option>id=calendar</option>
		</datalist>

		<datalist id="staff-dir">
			<option>class_=staff-directory</option>
		</datalist>

		<datalist id="news">
			<option>id=news-list</option>
		</datalist>

		<button type="submit" name="submit">Search</button>
	</form>
</div>

<!-- <div class="side-content">
	<ul class="nav-level-1">
		<li class="active">Examples for inputs</li>
		<li class="active">Example class</li>
		<li>class_=class1 class2 ...</li>
		<li class="active">Example id</li>
		<li>id=id</li>
		<li class="active">Example for 3rd input</li>
		<li>With class(es)</li>
		<li>ul.class > li.class</li>
		<li>With id</li>
		<li>ul#id > li.class</li>
	</ul>
</div> -->

<div class="loading-element hidden"></div>
{% endblock %}
