* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
  pointer-events: none;
}

html {
  font-family: sans-serif;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: #cccccc;
  }
}

body {
  display: flex;
  position: relative;
  height: 100vh;
  margin: 0;
}

[class*=nav-level-] {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-basis: calc(100% - 250px);
  padding: 20px 20px 0;
  overflow-y: auto;
}
main .main-content {
  flex-basis: 100%;
}
main .side-content {
  flex-basis: 270px;
  flex-shrink: 0;
  padding-left: 20px;
}
main .side-content li {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
}
main .side-content li:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
main .side-content li:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
main .side-content .active {
  border-bottom: 0;
  border-left-color: #0074cc;
  border-right-color: #0074cc;
  background-color: #0074cc;
  color: white;
}
main .loading-element {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 6px solid #0074cc;
  border-top: 6px solid #005799;
  border-radius: 100%;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (prefers-color-scheme: dark) {
  main .side-content li {
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: black;
    background-color: #1a1a1a;
  }
  main .side-content .active {
    border-left-color: black;
    border-right-color: black;
    background-color: #0074cc;
    color: white;
  }
}

.side-nav {
  height: 100%;
  flex-basis: 250px;
  padding: 20px 10px;
  background-color: #cccccc;
  overflow-y: auto;
}
.side-nav nav:not(:last-of-type) {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.side-nav li.active {
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 20px;
}
.side-nav a {
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}
.side-nav a:hover, .side-nav a:focus {
  background-color: #0074cc;
  color: white;
}
@media (prefers-color-scheme: dark) {
  .side-nav {
    background-color: #1a1a1a;
  }
  .side-nav a {
    color: #999999;
  }
}

button[type=submit] {
  margin: 0;
  border: 0;
  border-radius: 4px;
  background-color: #0074cc;
  padding: 8px 30px;
  color: white;
}
button[type=submit]:hover, button[type=submit]:focus {
  background-color: #005799;
}

h1 {
  margin: 0 0 40px;
}

h2 {
  margin: 0 0 20px;
}

h3 {
  margin: 0 0 20px;
}

h4 {
  margin: 0 0 20px;
}

h5 {
  margin: 0 0 20px;
}

h6 {
  margin: 0 0 20px;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin-bottom: 0;
}

a {
  display: block;
  color: black;
}
a:hover, a:focus {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6, a {
    color: #cccccc;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}
form label {
  width: 100%;
  margin-bottom: 20px;
}
form p {
  margin-bottom: 10px;
}
form span {
  margin-left: 10px;
}
form input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 10px 5px;
  background-color: #cccccc;
  font-size: 1rem;
}
form input[type=checkbox] {
  width: auto;
  margin: 0;
}
form textarea {
  resize: vertical;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 10px 5px;
  background-color: #cccccc;
  font-family: inherit;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
