// Buttons
// ==============================
button {
	margin: 0 0 20px;
	border: 0;
	border-radius: 4px;
	background: $m4;
	padding: 10px;
	width: 100%;
	max-width: 150px;
	color: $s0;
	cursor: pointer;

	&:hover, &:focus {
		background: $m1;
		color: $sf;
	}

	&:disabled {
		background: $m2;
		color: $sf;
		cursor: default;
	}
}
