@use '../constants';

button[type="submit"] {
	margin: 0;
	border: 0;
	border-radius: 4px;
	background-color: constants.$m1;
	padding: 8px 30px;
	color: constants.$sf;

	&:hover, &:focus {
		background-color: constants.$m2;
	}
}
