// Buttons
// ==============================
button {
	margin: 0;
	border: 0;
	border-radius: 4px;
	background-color: $m4;
	padding: 8px 30px;
	color: $s0;

	&:hover, &:focus {
		background-color: $m1;
		color: $sf;
	}

	&:disabled {
		background-color: $m2;
		color: $sf;
		cursor: not-allowed;
	}
}
