@use '../constants';

// Font Includes
// ================================
// @font-face {
// 	font-family: 'icomoon';
// 	font-style: normal;
// 	font-weight: 400;
//
// 	src:
// 		url('../fonts/icomoon.woff2') format('woff2'),
// 		url('../fonts/icomoon.woff') format('woff'),
// 		url('../fonts/icomoon.ttf') format('truetype'),
// 		url('../fonts/icomoon.svg#icomoon') format('svg');
// }


// Headings
// ================================
h1 {
	// color: constants.$s0;
	// font-size: constants.$h1-size;
	// line-height: constants.$h1-line-height;
	margin: 0 0 40px;
}

h2 {
	// color: constants.$s0;
	// font-size: constants.$h2-size;
	// line-height: constants.$h2-line-height;
	margin: 0 0 20px;
}

h3 {
	// color: constants.$s0;
	// font-size: constants.$h3-size;
	// line-height: constants.$h3-line-height;
	margin: 0 0 20px;
}

h4 {
	// color: constants.$s0;
	// font-size: constants.$h4-size;
	// line-height: constants.$h4-line-height;
	margin: 0 0 20px;
}

h5 {
	// color: constants.$s0;
	// font-size: constants.$h5-size;
	// line-height: constants.$h5-line-height;
	margin: 0 0 20px;
}

h6 {
	// color: constants.$s0;
	// font-size: constants.$h6-size;
	// line-height: constants.$h6-line-height;
	margin: 0 0 20px;
}


// Paragraphs
// ==============================
p {
	margin: 0 0 20px;

	&:last-child {
		margin-bottom: 0;
	}
}


// Anchors
// ==============================
a {
	display: block;
	color: constants.$s0;

	&:hover, &:focus {
		text-decoration: none;
	}
}


// Lists
// ==============================
// ul, ol {}

// If the design has pretty little icons, use ol to style them up
// ol {
// 	li {
// 		&:before {}
// 	}
// }

@media(prefers-color-scheme: dark) {
	h1, h2, h3, h4, h5, h6, a {
		color: constants.$s8;
	}
}
