<aside class="side-nav">
	<nav>
		<ul class="nav-level-1">
			<li class="active">Internal Scraper</li>
			<li><a href="{% url 'check_news' %}">News Manager Finder</a></li>
		</ul>
	</nav>

	<nav>
		<ul class="nav-level-1">
			<li class="active">External Scraper</li>
			<li><a href="{% url 'custom' %}">Custom</a></li>
			<li><a href="{% url 'blackboard' %}">Blackboard</a></li>
			<li><a href="{% url 'schoolpointe' %}">SchoolPointe</a></li>
			<li><a href="{% url 'extra_links' %}">Extra Links</a></li>
			<li><a href="{% url 'vpn' %}">Edlio/School Messenger</a></li>
		</ul>
	</nav>

	<nav>
		<ul class="nav-level-1">
			<li><a href="{% url 'files' %}">Exports</a></li>
		</ul>
	</nav>
</aside>
