main {
	display: flex;
	flex-basis: calc(100% - 250px);
	padding: 20px 20px 0;
	overflow-y: auto;

	.main-content {
		flex-basis: 100%;
	}

	.side-content {
		flex-basis: 270px;
		flex-shrink: 0;
		padding-left: 20px;

		li {
			border-left: 1px solid $s8;
			border-right: 1px solid $s8;
			border-bottom: 1px solid $s8;
			padding: 10px 20px;

			&:first-of-type {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}

			&:last-of-type {
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}

		.active {
			border-bottom: 0;
			border-left-color: $m1;
			border-right-color: $m1;
			background-color: $m1;
			color: $sf;
		}
	}

	.loading-element {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
		border: 6px solid $m3;
		border-top: 6px solid $m2;
		border-radius: 100%;
		animation: loading 1s infinite linear;
	}

	@keyframes loading {
		0% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(180deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@media(prefers-color-scheme: dark) {
		.side-content {
			li {
				border-left-color: $s0;
				border-right-color: $s0;
				border-bottom-color: $s0;
				background-color: $s1;
			}

			.active {
				border-left-color: $s0;
				border-right-color: $s0;
				background-color: $m4;
				color: $s0;
			}
		}
	}
}
