@use '../constants';

main {
	display: flex;
	flex-basis: calc(100% - 250px);
	flex-grow: 1;
	padding: 20px 20px 0;
	overflow-y: auto;

	.main-content {
		flex-basis: 100%;

		&.hidden {
			display: none;
		}
	}

	.side-content {
		flex-basis: 270px;
		flex-shrink: 0;
		padding-left: 20px;

		li {
			border-left: 1px solid constants.$s8;
			border-right: 1px solid constants.$s8;
			border-bottom: 1px solid constants.$s8;
			padding: 10px 20px;

			&:first-of-type {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}

			&:last-of-type {
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}

		.active {
			border-bottom: 0;
			border-left-color: constants.$m1;
			border-right-color: constants.$m1;
			background-color: constants.$m1;
			color: constants.$sf;
		}

		&.hidden {
			display: none;
		}
	}

	.loading-element {
		width: 50px;
		height: 50px;
		border: 6px solid constants.$m1;
		border-top: 6px solid constants.$m2;
		border-radius: 100%;
		animation: loading 1s infinite linear;

		&.hidden {
			display: none;
		}
	}

	&.center {
		align-items: center;
		justify-content: center;
	}

	@keyframes loading {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@media(prefers-color-scheme: dark) {
		.side-content {
			li {
				border-left-color: constants.$s0;
				border-right-color: constants.$s0;
				border-bottom-color: constants.$s0;
				background-color: constants.$s1;
			}

			.active {
				border-left-color: constants.$s0;
				border-right-color: constants.$s0;
				background-color: constants.$m1;
				color: constants.$sf;
			}
		}
	}
}
