.side-nav {
	height: 100%;
	flex-basis: 250px;
	padding: 20px 10px;
	background-color: $s8;
	overflow-y: auto;

	nav:not(:last-of-type) {
		margin-bottom: 20px;
		border-bottom: 1px solid $s5;
		padding-bottom: 20px;
	}

	li.active {
		margin-bottom: 10px;
		padding: 0 10px;
		font-size: 20px;
	}

	a {
		border-radius: 4px;
		padding: 10px;
		text-decoration: none;

		&.active {
			background-color: $m4;
		}

		&:hover, &:focus {
			background-color: $m1;
			color: $sf;
		}
	}

	@media(prefers-color-scheme: dark) {
		background-color: $s1;

		a {
			color: $s6;

			&.active {
				color: $s0;
			}

			&:hover, &:focus {
				background-color: $m1;
				color: $sf;
			}
		}
	}
}
