@use '../constants';

.side-nav {
	height: 100%;
	flex-basis: 250px;
	padding: 20px 10px;
	background-color: constants.$s8;
	overflow-y: auto;

	nav:not(:last-of-type) {
		margin-bottom: 20px;
		border-bottom: 1px solid constants.$s5;
		padding-bottom: 20px;
	}

	li.active {
		margin-bottom: 10px;
		padding: 0 10px;
		font-size: 20px;
	}

	a {
		border-radius: 4px;
		padding: 10px;
		text-decoration: none;

		&:hover, &:focus {
			background-color: constants.$m1;
			color: constants.$sf;
		}
	}

	&.hidden {
		display: none;
	}

	@media(prefers-color-scheme: dark) {
		background-color: constants.$s1;

		a {
			color: constants.$s6;
		}
	}
}
