// example: http://coderepo.demo.finalsite.com/production/form

form {
	display: flex;
	flex-direction: column;

	section {
		margin-bottom: 20px;

		label {
			display: flex;
			align-items: center;
			margin: 0;
		}

		input {
			width: auto;
			max-width: none;
			margin: 0 10px 0 0;
		}
	}

	label {
		margin-bottom: 20px;
	}

	p {
		margin: 0 0 10px;
	}

	input {
		width: 100%;
		max-width: 800px;
		border: 0;
		border-radius: 4px;
		padding: 10px 5px;
		background: $s8;

		&[type=checkbox] {
			cursor: pointer;
		}
	}
}
